<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mc.mcsq.mapper.BookMapper">
    <select id="selectBooksByUidAndDateRange" resultType="com.mc.mcsq.model.entity.Book">
        SELECT *
        FROM book
        WHERE uid = #{uid} AND book_time BETWEEN #{startDate} AND #{endDate}
    </select>

    <select id="getByLeader" resultType="com.mc.mcsq.model.entity.Book">
        SELECT book.*
        FROM book
                 INNER JOIN ums_dept ON book.community = ums_dept.dept_name
        WHERE ums_dept.leader = #{leaderId};
    </select>
</mapper>